#contact {
  background-color: #e9dcb5;
  text-align: center;
}

.social-stack {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: $baseWidth;
}

.social {
  flex: 1;
  font-size: xx-large;
}

.social-github a {
  color: #333;
}

.social-linkedin a {
  color: #00a0dc;
}

.copyright {
  font-size: small;
  margin-top: $spacingSm;
  opacity: 0.5;
}

@media screen and (min-width: $breakpointMd) {
  .copyright {
    margin-top: $spacingMd;
  }
}

@import './contact-form';
