.contact-form {
  margin-bottom: $spacingSm;

  form {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(#{$baseWidth} * 1.25);
  }
}

.form-field {
  margin-bottom: $spacingXxs;
}

#name, #email, #message {
  border: 1px solid $colorTemFormFieldBorder;
  box-sizing: border-box;
  color: $colorTemFontDark;
  font-family: $fontFamily;
  font-size: large;
  padding: $spacingXxs;
  width: 100%;
}

#message {
  resize: none;
}

#send {
  background-color: $colorWhite;
  border: 1px solid $colorTemFormFieldBorder;
  color: $colorTemFontDark;
  cursor: pointer;
  font-family: $fontFamily;
  font-size: large;
  padding: $spacingXxs $spacingMd;
}

#send[disabled] {
  cursor: default;
  opacity: 0.5;
}

@media screen and (min-width: $breakpointMd) {
  .contact-form {
    margin-bottom: $spacingMd;
  }
  
  .form-field {
    margin-bottom: $spacingXs;
  }

  #send {
    transition: all 0.1s linear;
  }

  #send:hover {
    border-color: $colorTemTeal;
    transform: scale(1.1);
  }

  #send[disabled]:hover {
    border-color: $colorTemFormFieldBorder;
    transform: scale(1);
  }
}
