#hello {
  background-color: $colorNewYorkPink;
  color: $colorWhite;
  padding-bottom: $spacing48;
  padding-top: $spacing48;

  h1 {
    font-size: $spacing48;
    margin: 0;
  }
}

@media screen and (min-width: $breakpointMd) {
  #hello {
    padding-bottom: $spacing64;
    padding-top: $spacing64;

    h1 {
      font-size: $spacing64;
    }
  }
}
