#hello {
  background-color: $colorTemPearl;
  padding-bottom: $spacingMd;
  padding-top: $spacingMd;

  h1 {
    font-size: $spacingMd;
    margin: 0;
  }
}

@media screen and (min-width: $breakpointMd) {
  #hello {
    margin-top: $navbarHeight;
    padding-bottom: $spacingLg;
    padding-top: $spacingLg;

    h1 {
      font-size: $spacingLg;
    }
  }
}
