$spacing10: 10px;
$spacing20: 20px;

.portfolio-card {
  background-color: $colorWhite;
  display: flex;
  flex-direction: column;
  font-size: medium;
  margin-bottom: $spacing20;
  max-width: $baseWidth;
}

.portfolio-card:last-child {
  margin-bottom: 0;
}

.portfolio-card-logo {
  margin-bottom: -3px; /* 🐵 patch */

  img {
    width: 100%;
  }
}

.portfolio-card-body {
  padding-left: $spacing20;
  padding-right: $spacing20;
}

.portfolio-card-title {
  h2 {
    span {
      font-size: small;
      opacity: 0.75;
    }
  }
}

.portfolio-card-details {
  margin-bottom: $spacing10;

  h4 {
    margin-bottom: $spacingXs;
    margin-top: $spacingXs;
  }
}

.portfolio-card-date,
.portfolio-card-role {
  ul {
    list-style-type: square;
    margin: 0;
    padding-left: $spacing20;
  }
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  flex-grow: 1;
  margin-bottom: $spacing10;
  width: 50%;

  svg {
    margin-right: $spacing10;
  }
}

.portfolio-card-cta {
  margin-bottom: $spacing20;
  text-align: center;

  a {
    border: 1px solid $colorTemTeal;
    display: inline-block;
    color: $colorTemTeal;
    padding: $spacing10 $spacing20;
    text-decoration: none;
  }

  a:hover {
    background-color: $colorTemTeal;
    color: $colorWhite;
  }
}

@media screen and (min-width: $breakpointMd) {
  .portfolio-card {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
  }

  .portfolio-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .portfolio-card-logo {
    img {
      max-width: $baseWidth;
    }
  }

  .portfolio-card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }

  .portfolio-card-title {
    align-items: center;
    display: flex;
    flex-grow: 1;
    max-width: 224px;

    h2 {
      font-weight: 700;
    }
  }

  .portfolio-card-details {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin-bottom: 0;
  }

  .portfolio-card-date {
    flex-grow: 1;
  }

  .portfolio-card-role {
    flex-grow: 1;
  }

  .portfolio-card-tech {
    flex-grow: 1;
  }

  .portfolio-card-cta {
    margin-bottom: 0;
    position: absolute;
    right: $spacing20;
    top: $spacing20;

    a {
      transition: all 0.1s linear;
    }

    a:hover {
      transform: scale(1.1);
    }
  }
}

@import './tech';
