.tech-angular {
  color: #b52e31;
}

.tech-css {
  color: #1d73b4;
}

.tech-html {
  color:#e34f26;
}

.tech-javascript {
  color: #f7df1e;
}

.tech-php {
  color: #4f5b93;
}

.tech-react {
  color: #00d8ff;
}
